<div class="row justify-content-center">
  <div class="col-10">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Hora</th>
          <th scope="col">Temperatura ºC</th>
        </tr>
      </thead>
      <tbody>
        <% cities.each_with_index do |city, index| %>
        <tr>
          <th scope="row"><%= index+1 %></th>
          <td><%= city[:name] %></td>
          <td><%= city[:time] %></td>
          <td><%= city[:temperature] %></td>
        </tr>
        <% end %>

      </tbody>
    </table>
  </div>
</div>