<div class="row">
  <div class="col-12 text-center mt-4">
    <h1>Forecast: Temperatura y hora de diferentes ciudades del Mundo</h1>
    <h3>Acid Labs – Felipe Fabio</h3>
  </div>
</div>
<hr>
<div id="messages">
  <%= render partial: "info_cities", locals: {cities: @results} %>
</div>

